.is-horizontal-center{
    text-align: center;
}

.is-horizontal-justify{
    text-align: justify;
}

.size{
    width: 270px;
}

.image{
    width: 40px;
    height: 30px;
}

.color{
    background-color: darkgrey;
}